body {
  font-family: Calibri, Segoe, "Segoe UI", "Gill Sans", "Gill Sans MT", sans-serif;
}

.button{text-decoration:none; text-align:center;
  padding:0px 4px;
  border: 1px solid darkgray;
  border-radius: 50px;
  font:24px "Lucida Console", Monaco, monospace;
  font-weight:bold;
  color:#b9bdbd;
  background:#ffffff;


  text-shadow: 1px 0px 0px #bababa;
  filter: dropshadow(color=#bababa, offx=1, offy=0); }

.tree, .tree ul, .tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree {
  margin: 0 0 1em;
  text-align: center;
}
.tree, .tree ul {
  display: table;
}
.tree ul {
  width: 100%;
}
.tree li {
  display: table-cell;
  padding: .5em 0;
  vertical-align: top;
}

.tree li:before {
  outline: solid 1px #666;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree li:first-child:before {left: 50%;}
.tree li:last-child:before {right: 50%;}

.tree code, .tree span {
  border: solid .01em #666;
  background: darkblue;
  border-radius: .2em;
  display: inline-block;
  margin: 0 .2em .5em;
  padding: .2em .5em;
  position: relative;
}

.tree  {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  color: aliceblue;
}


.tree ul:before,
.tree code:before,
.tree span:before {
  outline: solid 1px #666;
  content: "";
  height: .5em;
  left: 50%;
  position: absolute;
}
.tree ul:before {
  top: -.5em;
}
.tree code:before,
.tree span:before {
  top: -.55em;
}


.tree > li {margin-top: 0;}
.tree > li:before,
.tree > li:after,
.tree > li > code:before,
.tree > li > span:before {
  outline: none;
}
